# .coveragerc to control coverage.py
[run]
branch = True
relative_files = True
omit =
    # omit anything in a .local directory anywhere
    *nrlmsise_00.py
    *arrays.py
    *design_climate.py
    *pychebfun.py
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
