language: python
python:
  - "2.7"
# command to install dependencies
virtualenv:
  system_site_packages: true
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda2/bin:$PATH
  - conda update --yes conda
# Install packages
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION numpy scipy
  - pip install -r requirements.txt
  - python setup.py -q install
script: 
  - python tests/doctests.py