language: python
python:
  - "2.7"
# command to install dependencies
virtualenv:
  system_site_packages: true
before_install:
 - sudo apt-get install -qq python-numpy python-scipy
install: "pip install -r requirements.txt"
# command to run tests
script: test.py