# File after https://github.com/jowr/jopy/blob/master/appveyor.yml, copyright predominately Jorrit Wronski
# Tell appveyor to not use msbuild
build: false

environment:
  matrix:
    - PYTHON: 2.7
#    - PYTHON: 3.3 # 3.3's quad or interpolate worked differently in some cases, not worth testing with
    - PYTHON: 3.5
    - PYTHON: 3.6

platform:
  - x86
  - x64

init:
  - "ECHO %PYTHON%"
  - cmd: SET PATH=C:\Miniconda3\Scripts;C:\Miniconda\Scripts;%PATH%
  - cmd: conda update -yq conda
  - cmd: conda install -yq conda-env conda-build 
  - cmd: conda create -yq -n condaenv python=%PYTHON%

install:
  - cmd: activate condaenv
  - cmd: conda install -yq numpy scipy pip pytest pandas
  - cmd: pip install pytest-cov coveralls sympy fuzzywuzzy pint
  - cmd: python setup.py install

test_script:
  - cmd: py.test --cov-report html --cov=fluids -m "not online and not thermo"
branches:
  only:
    - release
